# Series : Attributi e Metodi
- **Attributi**: mi danno "informazioni" riguardanti un oggetto creato in Pandas, non lo modificano (sono "passivi")
- I **"metodi"**  invece "modificano" / fanno delle operazioni su di essi ("attivi")

In [48]:
import pandas as pd

In [49]:
lettere = ['a', 'e', 'i', 'o', 'u']
numeri = [10,20,30,40,50]

In [50]:
s1 = pd.Series(lettere)
s1

0    a
1    e
2    i
3    o
4    u
dtype: object

In [51]:
s2 = pd.Series(numeri)
s2

0    10
1    20
2    30
3    40
4    50
dtype: int64

## Attributi

#### .dtype (restituisce il tipo di dato della series)

In [52]:
# "oggetto" + "." + TAB per visualizzare lista di tutti i metodi e attributi
s1.dtype

dtype('O')

In [53]:
s2.dtype

dtype('int64')

#### .values (resituisce la series come un array)

In [54]:
s1.values

array(['a', 'e', 'i', 'o', 'u'], dtype=object)

In [55]:
s2.values

array([10, 20, 30, 40, 50], dtype=int64)

#### .index (resituisce informazioni riguardo l'indice)

In [56]:
s1.index

RangeIndex(start=0, stop=5, step=1)

 #### .hasnans (resituisce True se la serie ha NaN, altrimenti False)

In [57]:
s1.hasnans

False

In [58]:
dizionario = {'nome': 'guido', 'cognome' : 'rossi', 'nazione' : 'Italia'}
s3 = pd.Series(data = dizionario, index = ['nome','cognome', 'paese'])
s3

nome       guido
cognome    rossi
paese        NaN
dtype: object

In [59]:
s3.hasnans

True

#### .shape e .size

In [60]:
s1.shape

(5,)

In [61]:
s1.size

5

Tutti gli attributi per le Series puoi trovarli qui: 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

## Metodi

In [62]:
import pandas as pd

In [63]:
s = pd.Series(data = [1.2, 3.5, 2.8, 2.5])
s

0    1.2
1    3.5
2    2.8
3    2.5
dtype: float64

In [64]:
s.max() # restituisce il valore massimo della series

3.5

In [65]:
s.min() # restituisce il valore minimo della series

1.2

In [66]:
s.sum() # restituisce la somma di tutti i valori di una series

10.0

In [67]:
s.mean() # restituisce il valore medio della series

2.5

In [68]:
s.idxmax() # # restituisce l'indice corrispondente al valore massimo della series

1

In [69]:
s.idxmin() # restituisce l'indice corrispondente al valore minimo della series

0

In [70]:
s.isnull() # resituisce un boolano per ogni valore della serie (True se ci sono "missing values", altrinenti False)

0    False
1    False
2    False
3    False
dtype: bool

In [71]:
s.round(1) # approssima ogni valore della series al numero decimale indicato, di default nessun decimale dopo la virgola

0    1.2
1    3.5
2    2.8
3    2.5
dtype: float64

# read.csv() e to_csv()

In [72]:
import pandas as pd

In [73]:
fifa_nomi = pd.read_csv("fifa20.csv", usecols = ["player"], squeeze = True)
fifa_nomi

0                 L. Messi
1        Cristiano Ronaldo
2                Neymar Jr
3                 J. Oblak
4                E. Hazard
               ...
18273           Shao Shuai
18274         Xiao Mingjie
18275            Zhang Wei
18276         Wang Haijian
18277           Pan Ximing
Name: player, Length: 18278, dtype: object

In [74]:
type(fifa_nomi)

pandas.core.series.Series

In [75]:
# scrivere in csv

In [76]:
fifa_nomi.to_csv("prova.csv", index= False)

In [77]:
pd.read_csv("prova.csv", squeeze = True)

0                 L. Messi
1        Cristiano Ronaldo
2                Neymar Jr
3                 J. Oblak
4                E. Hazard
               ...
18273           Shao Shuai
18274         Xiao Mingjie
18275            Zhang Wei
18276         Wang Haijian
18277           Pan Ximing
Name: player, Length: 18278, dtype: object

# head() e tail()

In [78]:
import pandas as pd
fifa = pd.read_csv("fifa20.csv")
fifa

,player,age,dob,height_cm,club,rating
0,L. Messi,32,24/06/1987,170,FC Barcelona,94
1,Cristiano Ronaldo,34,05/02/1985,187,Juventus,93
2,Neymar Jr,27,05/02/1992,175,Paris Saint-Germain,92
3,J. Oblak,26,07/01/1993,188,Atlético Madrid,91
4,E. Hazard,28,07/01/1991,175,Real Madrid,91
...,...,...,...,...,...,...
18273,Shao Shuai,22,10/03/1997,186,Beijing Renhe FC,48
18274,Xiao Mingjie,22,01/01/1997,177,Shanghai SIPG FC,48
18275,Zhang Wei,19,16/05/2000,186,Hebei China Fortune FC,48
18276,Wang Haijian,18,02/08/2000,185,Shanghai Greenland Shenhua FC,48
18277,Pan Ximing,26,11/01/1993,182,Hebei China Fortune FC,48

In [79]:
fifa.head(10)

              player  age         dob  height_cm                 club  rating
0           L. Messi   32  24/06/1987        170         FC Barcelona      94
1  Cristiano Ronaldo   34  05/02/1985        187             Juventus      93
2          Neymar Jr   27  05/02/1992        175  Paris Saint-Germain      92
3           J. Oblak   26  07/01/1993        188      Atlético Madrid      91
4          E. Hazard   28  07/01/1991        175          Real Madrid      91
5       K. De Bruyne   28  28/06/1991        181      Manchester City      91
6      M. ter Stegen   27  30/04/1992        187         FC Barcelona      90
7        V. van Dijk   27  08/07/1991        193            Liverpool      90
8          L. Modrić   33  09/09/1985        172          Real Madrid      90
9           M. Salah   27  15/06/1992        175            Liverpool      90

In [80]:
fifa.tail(1)

           player  age         dob  height_cm                    club  rating
18277  Pan Ximing   26  11/01/1993        182  Hebei China Fortune FC      48

In [81]:
pd.read_csv("fifa20.csv", nrows = 5)

              player  age         dob  height_cm                 club  rating
0           L. Messi   32  24/06/1987        170         FC Barcelona      94
1  Cristiano Ronaldo   34  05/02/1985        187             Juventus      93
2          Neymar Jr   27  05/02/1992        175  Paris Saint-Germain      92
3           J. Oblak   26  07/01/1993        188      Atlético Madrid      91
4          E. Hazard   28  07/01/1991        175          Real Madrid      91

# sort_values(), sort_index() e il parametro "inplace"

In [82]:
import pandas as pd
fifa = pd.read_csv("fifa20.csv", usecols = ["player"], squeeze = True)
fifa

0                 L. Messi
1        Cristiano Ronaldo
2                Neymar Jr
3                 J. Oblak
4                E. Hazard
               ...
18273           Shao Shuai
18274         Xiao Mingjie
18275            Zhang Wei
18276         Wang Haijian
18277           Pan Ximing
Name: player, Length: 18278, dtype: object

In [83]:
fifa.sort_values(axis=0,
    ascending=False,
    inplace=True,
    kind='quicksort',
    na_position='first',
    ignore_index=True)

In [84]:
fifa

0           �. Vlădoiu
1         �. Târnovanu
2              �. Rusu
3              �. Fara
4           �. Blănaru
             ...
18273          A. Abdu
18274          A. Abdi
18275     A. Abdennour
18276    A. Abdellaoui
18277      A. Abdallah
Name: player, Length: 18278, dtype: object

In [85]:
fifa = pd.read_csv("fifa20.csv", usecols = ["player"], squeeze = True)
fifa

0                 L. Messi
1        Cristiano Ronaldo
2                Neymar Jr
3                 J. Oblak
4                E. Hazard
               ...
18273           Shao Shuai
18274         Xiao Mingjie
18275            Zhang Wei
18276         Wang Haijian
18277           Pan Ximing
Name: player, Length: 18278, dtype: object

In [86]:
fifa.sort_index(ascending=False)

18277           Pan Ximing
18276         Wang Haijian
18275            Zhang Wei
18274         Xiao Mingjie
18273           Shao Shuai
               ...
4                E. Hazard
3                 J. Oblak
2                Neymar Jr
1        Cristiano Ronaldo
0                 L. Messi
Name: player, Length: 18278, dtype: object

# Value_counts()
restituisce un'altra serie in cui gli indici sono i valori osservati e i valori le corrispondenti frequenze assolute (cioe' il numero totale di osservazioni), ordinate in senso decrescente

In [87]:
import pandas as pd
fifa = pd.read_csv("fifa20.csv", usecols = ["player"], squeeze = True)
fifa

0                 L. Messi
1        Cristiano Ronaldo
2                Neymar Jr
3                 J. Oblak
4                E. Hazard
               ...
18273           Shao Shuai
18274         Xiao Mingjie
18275            Zhang Wei
18276         Wang Haijian
18277           Pan Ximing
Name: player, Length: 18278, dtype: object

In [88]:
fifa.value_counts(normalize=False,
    sort=True,
    ascending=True,
    bins=None,
    dropna=True)

M. Hornschuh       1
E. Borelli         1
P. Therkildsen     1
Unai Simón         1
S. Khelifi         1
                  ..
J. Hernández       7
J. Williams        7
J. García          8
Paulinho           9
J. Rodríguez      11
Name: player, Length: 17354, dtype: int64

In [89]:
fifa2 = pd.read_csv("fifa20.csv", usecols = ["rating"], squeeze = True)
fifa2

0        94
1        93
2        92
3        91
4        91
         ..
18273    48
18274    48
18275    48
18276    48
18277    48
Name: rating, Length: 18278, dtype: int64

In [90]:
fifa2.value_counts(bins = 5)

(57.2, 66.4]      7602
(66.4, 75.6]      7140
(47.953, 57.2]    1921
(75.6, 84.8]      1507
(84.8, 94.0]       108
Name: rating, dtype: int64

# Come accedere agli elementi di una Series
- in base alla posizione
- in base all'indice

In [91]:
import pandas as pd
player = pd.read_csv("fifa20.csv", usecols = ["player"], squeeze = True)

#### 1) estrazione valori in base alla posizione
simile alle liste

In [92]:
player.head(10)

0             L. Messi
1    Cristiano Ronaldo
2            Neymar Jr
3             J. Oblak
4            E. Hazard
5         K. De Bruyne
6        M. ter Stegen
7          V. van Dijk
8            L. Modrić
9             M. Salah
Name: player, dtype: object

In [93]:
player[1] # indice singolo

'Cristiano Ronaldo'

In [94]:
player[[0,2,5]] # lista di indici

0        L. Messi
2       Neymar Jr
5    K. De Bruyne
Name: player, dtype: object

In [95]:
player[2:6] # slicing1

2       Neymar Jr
3        J. Oblak
4       E. Hazard
5    K. De Bruyne
Name: player, dtype: object

In [96]:
player[:5] # slicing2: tutti i valori dal primo fino al quinto escluso

0             L. Messi
1    Cristiano Ronaldo
2            Neymar Jr
3             J. Oblak
4            E. Hazard
Name: player, dtype: object

In [97]:
lista = [0,1,2,3]
lista[-1]

3

In [98]:
# player[-1] # attenzione!

In [99]:
player.index

RangeIndex(start=0, stop=18278, step=1)

In [100]:
player[-5:] # con lo "slicing" non ho problemi

18273      Shao Shuai
18274    Xiao Mingjie
18275       Zhang Wei
18276    Wang Haijian
18277      Pan Ximing
Name: player, dtype: object

## Estrazione valori in base all'indice

In [101]:
import pandas as pd
player = pd.read_csv("fifa20.csv", usecols = ["player", "rating"], index_col = "player", squeeze = True)

In [102]:
player.head(10)

player
L. Messi             94
Cristiano Ronaldo    93
Neymar Jr            92
J. Oblak             91
E. Hazard            91
K. De Bruyne         91
M. ter Stegen        90
V. van Dijk          90
L. Modrić            90
M. Salah             90
Name: rating, dtype: int64

In [103]:
player["L. Messi"]

94

In [104]:
player[0]

94

## vai alla sezione esercizi!